#root {
  max-width: 1080px;
  margin: 0 auto;
  padding:0px;
  text-align: center;
}





.card {
  font-size: 0.5em;
  padding: 0.5em;
  display: flex;
  justify-items: auto;
  will-change: filter;
  transition: filter 100ms;
  text-align: center;
  border: #ffffff;
  border-style: solid;
  border-radius: 2em;
  margin: 1em;
  height: auto;
  align-items: center;
}

.card:hover {
  filter: drop-shadow(0 0 1em #ffffff);
}

.card>div {
  margin-left: 0.5em;
  width: 20%;
}

img {
  margin-left: 0.5em;
  width: 5em;
}