body {
  margin: 0;
  display: flex;
  min-width: 320px;
  max-width: 1080px;
  background-color: darkgrey;
  font-size: small;
  display: flex;
  justify-content: center;

}

button {
  margin: auto auto;
}